#body 
{
    background-color:#fff;
    font-family:"Ruso One",Arial;
}
#Filtro
{
    text-align:center;
}
.blog 
{ 
  background-image: url(Imagenes/calendar.png);
  background-repeat:  no-repeat;
  width: 54px;
  height: 42px;
  float: right;
  margin: 0 15px 0 0;
}
#rCalificacion
{
    -webkit-appearance: none;
    width: 150px;
    background-color: #fff;
    height: 20px;
    border-radius: 5px;
    cursor: pointer;
}
#rCalificacion::-webkit-slider-thumb
{
    -webkit-appearance: none;
    background-color: #008aff;
    border-radius: 10px;
    height: 15px;
    width: 10px;
}
#menu 
{
    width:960px;
    margin:auto;
    text-align:center;
    font-family:"Ruso One",Arial;
}
#contenido 
{
    width:603px;
    margin:auto;
    text-align:center;
}
#footer
{
    text-align:center;
}
h1
{
    color:#008aff;
    font-family: 'Ruso One', sans-serif;
}
h2
{
    color:#008aff;
    font-family: 'Ruso One', sans-serif;
    font-size: 25px;
}
header hgroup h1 
{
    border-bottom:solid;
    padding-bottom:10px;
    border-width:1px;
    border-color:#1d1d1d;
    text-shadow:0px 0px 30px rgba(0,0,0,0.5);
}
nav ul li 
{
    display:inline-block;
    margin-right:20px;
    color:#1d1d1d;
    cursor:pointer;
    padding:5px;

    transition:all 0.5s linear;
    -webkit-transition:all 0.5s linear;
    -moz-transition:all 0.5s linear;
    -o-transition:all 0.5s linear;
}
nav ul li:hover 
{
    background-color:#1d1d1d;
    color:#008aff;
    border-radius:3px;
}
nav ul li a 
{
    text-decoration:none;
}
#textoPrincipal 
{
    width:600px;
    height:300px;
    background-color:#1d1d1d;
    color:#fff;
    margin:0 auto;
    text-align:left;
    vertical-align:central;
    border-radius:20px;
    padding:20px;
    box-shadow:0px 0px 20px rgba(0,0,0,0.5);
}
#divContenido
{
    width:600px;
    height:auto;
    background-color:#1d1d1d;
    color:#fff;
    margin:0 auto;
    vertical-align:central;
    text-align:left;
    border-radius:20px;
    padding:20px;
    box-shadow:0px 0px 20px rgba(0,0,0,0.5);
}
#divListar
{
    width:800px;
    height:auto;
    background-color:#1d1d1d;
    color:#fff;
    margin:0 auto;
    vertical-align:central;
    text-align:left;
    border-radius:20px;
    padding:20px;
    box-shadow:0px 0px 20px rgba(0,0,0,0.5);
}
#divRegistrar
{
    width:800px;
    height:auto;
    background-color:#1d1d1d;
    color:#fff;
    margin:0 auto;
    text-align:left;
    vertical-align:central;
    border-radius:20px;
    padding:20px;
    box-shadow:0px 0px 20px rgba(0,0,0,0.5);
}
a 
{
    color:#008aff;
    font-weight:bold;
}
label 
{
    display:block;
    width: 140px;
}
#btnClasico 
{
    border: none;
    background-color: #fff;
    color: #008aff;
    padding: 4px;
    margin: 20px;
    cursor:pointer;
}

.datagrid table { border-collapse: collapse; text-align: left; width: 100%; } .datagrid {font: normal 12px/150% Arial, Helvetica, sans-serif; background: #fff; overflow: hidden; border: 1px solid #006699; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }.datagrid table td, .datagrid table th { padding: 3px 10px; }.datagrid table thead th {background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) );background:-moz-linear-gradient( center top, #006699 5%, #00557F 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');background-color:#006699; color:#FFFFFF; font-size: 15px; font-weight: bold; border-left: 1px solid #0070A8; } .datagrid table thead th:first-child { border: none; }.datagrid table tbody td { color: #00557F; border-left: 1px solid #E1EEF4;font-size: 12px;font-weight: normal; }.datagrid table tbody .alt td { background: #E1EEf4; color: #00557F; }.datagrid table tbody td:first-child { border-left: none; }.datagrid table tbody tr:last-child td { border-bottom: none; }.datagrid table tfoot td div { border-top: 1px solid #006699;background: #E1EEf4;} .datagrid table tfoot td { padding: 0; font-size: 12px } .datagrid table tfoot td div{ padding: 2px; }.datagrid table tfoot td ul { margin: 0; padding:0; list-style: none; text-align: right; }.datagrid table tfoot  li { display: inline; }.datagrid table tfoot li a { text-decoration: none; display: inline-block;  padding: 2px 8px; margin: 1px;color: #FFFFFF;border: 1px solid #006699;-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) );background:-moz-linear-gradient( center top, #006699 5%, #00557F 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');background-color:#006699; }.datagrid table tfoot ul.active, .datagrid table tfoot ul a:hover { text-decoration: none;border-color: #00557F; color: #FFFFFF; background: none; background-color:#006699;}div.dhtmlx_window_active, div.dhx_modal_cover_dv { position: fixed !important; }
